{{bookingForm.value | json }}
{{bookingForm.pristine | json }}
{{bookingForm.dirty | json }}

<form [formGroup]="bookingForm">
        <mat-form-field class="example-full-width">
            <mat-label>Room ID:</mat-label>
            <input 
                type="text" 
                formControlName="roomId" 
                placeholder="Room ID" 
            />
            <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong> -->
            <!-- </mat-error> -->
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Guest Email:</mat-label>
            <input 
                type="email" 
                formControlName="guestEmail" 
                placeholder="Provide email" 
            />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Guest Name:</mat-label>
            <input 
                type="text" 
                formControlName="guestName" 
                placeholder="Guest Name" 
            />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Mobile Number</mat-label>
            <input 
                type="text" 
                formControlName="mobileNumber" 
                placeholder="Phone Number" 
            />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Booking Amount:</mat-label>
            <input 
                type="number" 
                formControlName="bookingAmount" 
                placeholder="Enter cost" 
            />
        </mat-form-field>
</form>