
<!-- <h2>Welcome to {{hotelName}}</h2> -->
<hinv-header></hinv-header>
<!-- <hinv-header></hinv-header>
<hinv-header></hinv-header> -->

<!-- async pipe -->
{{rooms$ | async | json}}

<div [hidden]="hideRooms">
    Number of rooms:
    <div 
    [ngStyle]="{'color': rooms.availableRooms ? 'green' : 'red'}"
    [innerText]="numberOfRooms"></div>

</div>


<!-- optional chaining  -->
{{ rooms?.availableRooms ?? 'No Rooms'}}


<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>



<!-- use ngIf as much as possible, not hidden. The element doens't exist on the DOM depending on the argument, where as hidden always exists on the DOM even when hidden -->
<!-- <div *ngIf="rooms.availableRooms > 0"> -->
<!-- <div *ngIf="hideRooms"> -->
<div *ngIf="rooms$ | async as rooms">
    <!-- <hinv-rooms-list [rooms] = "roomList" -->
    <hinv-rooms-list [rooms] = "rooms"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
    ></hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>
<button (click)="editRoom()">Edit Room</button>
<button (click)="deleteRoom()">Delete Room</button>

<h3>
    {{totalBytes}} loaded
</h3>